<p><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed_1') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailer.email_changed_2') %> <%= @resource.email %>.</p>
<% end %>
