<p><%= @resource.email %>!</p>
<p><%= t('devise.mailer.pw_reset_1') %></p>
<p><%= t('devise.mailer.pw_reset_2') %></p>

<p><%= link_to t('devise.mailer.pw_reset_3'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.pw_reset_4') %></p>
